<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,600;0,700;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/3694d59e86.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="header-inicial">
            <div class="box-logo-header">
                <a href="/"><img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo de la empresa"></a>
           </div>
           
            <div class="searchbox">
                <form action="/" method="get" >
                    <input type="text" id="" placeholder="Buscar producto, marcas"> 
                    <i id="busqueda" class="fa-solid fa-magnifying-glass"></i>
                </form>      
            </div>
       
            <p class="txtCuotas">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>
      
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="menuleft">
                <li><a href="/register">Crea tu cuenta <i class="fa-regular fa-credit-card"></i></a> </li>
                <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i> </a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa-solid fa-bars fa-lg"></i>
        </div>
    </header>
    <section>
        <img class="banner" src="/images/img-home-banner.jpg" alt="Banner">
    </section>
    <main>
        <section id="seccionArticulos">
            <h2 id="titulares">Basado en tu última visita</h2>
            <div class="articulos">
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    <div class="detalle">
                        <i id="envio" class="fa-solid fa-truck" style="color: #39b54a;"></i>
                        <div class="precioDescuento">
                            <p id="precio">$6.770</p>
                            <p id="descuento">40% OFF</p>

                        </div>
                    <p id="descripcion">Cafetera Moulinex</p>    
                    </div>
                </article>
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Cafetera Moulinex">
                    <div class="detalle">
                        <i id="envio" class="fa-solid fa-truck" ></i>
                        <div class="precioDescuento">
                            <p id="precio">$230.000</p>
                            <p id="descuento"> 20% off</p>
                        </div>
                        <p id="descripcion">MacBook Pro 2019</p>
                    </div>
                </article>
                <article>
                    <img width="50%" src="/images/img-samsung-galaxy-s10.jpg" alt="Cafetera Moulinex">
                    <div class="detalle">
                        <i id="envio" class="fa-solid fa-truck" ></i>
                        <div class="precioDescuento">
                            <p id="precio">$70.500</p>
                            <p id="descuento">10% off</p>
                        </div>
                        <p id="descripcion">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Cafetera Moulinex">
                    <div class="detalle">
                        <i id="envio" class="fa-solid fa-truck"></i>
                        <div class="precioDescuento">
                            <p id="precio">$23.200</p>
                            <p id="descuento"> 5% off</p>
                        </div>
                        <p id="descripcion">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </div>
        </section>
        <section id="seccionArticulos">
            <h2 id="titulares">Sección de Ofertas</h2>
            <div class="articulos"> 
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    <div class="detalle">
                        <i id="envio" class="fa-solid fa-truck" ></i>
                        <div class="precioDescuento">
                            <p id="precio">$6.770</p>
                            <p id="descuento">40% OFF</p>
                        </div>
                        <p id="descripcion">Cafetera Moulinex</p>
                    </div>
                </article>
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Cafetera Moulinex">
                    <div class="detalle">
                        <i id="envio" class="fa-solid fa-truck"></i>
                        <div class="precioDescuento">
                            <p id="precio">$230.000</p>
                            <p id="descuento">20% off</p>
                        </div>
                        <p id="descripcion">MacBook Pro 2019</p>
                    </div>
                </article>
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Cafetera Moulinex">
                    <div class="detalle">
                        <i id="envio" class="fa-solid fa-truck" ></i>
                        <div class="precioDescuento">
                            <p id="precio">$70.500</p>
                            <p id="descuento">10% off</p>
                        </div>
                        <p id="descripcion">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Cafetera Moulinex">
                    <div class="detalle">
                        <i id="envio" class="fa-solid fa-truck"></i>
                        <div class="precioDescuento">
                            <p id="precio">$23.200</p>
                            <p id="descuento"> 5% off</p>
                        </div>
                        <p id="descripcion">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </div>
            
        </section>
    </main>

    <footer>
        <div class="boxFooter">
            <section class="centrar">
                <i id="icono" class="fa-regular fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section class="centrar">
                <i id="icono" class="fa-solid fa-gift"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section class="centrar">
                <i id="icono" class="fa-solid fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
        </div>
        <section>
            <p id="copyright"> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>